.custom-button {
  background-color: #1b5b7e;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: white;
  border-radius: 8px;
  border: 1px solid #1b5b7e;
  padding: .5rem 2rem !important;
  margin: 5px 10px !important;
}

@media only screen and (max-width:360px) {
  .custom-button {
   
    padding: .5rem 1rem !important;
  margin: 5px !important;

  }
}